html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url("image/bg.png") no-repeat center/cover;
}

.header_info {
    display: flex;
    align-items: center;
    column-gap: 45px;
    height: 70px;
    padding-left: 34px;
    border-left: 1px solid black;
}

.header__phone {
    text-align: center;
    width: 155px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: black;
}

.header__phone p {
    font-weight: normal;
    font-size: 16px;
}

.header__contact {
    background-color: #FF7400;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: black;
    cursor: pointer;
    border: none;
}

.header_main {
    margin-top: 203px;
    margin-left: 175px;
}

.header_main__title {
    font-weight: normal;
    color: #D67E35;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header_main__title h2{
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
}

.header_main__title h1 {
    font-size: 80px;
    line-height: 92px;
}

.header_main__title p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_main__title p::before, .header_main__title p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #C4C4C4;
}

.header_main__title p::before {
    margin-right: 10px;
}
.header_main__title p::after {
    margin-left: 10px;
}

.header_main__button {
    margin-top: 5px;
    background-color: #FF7400;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.header_bottom {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 31px;
}

.header_bottom__item {
    padding-top: 5px;
    height: 300px;
    width: 330px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 0 80px 0 rgba(0, 0, 0, 0.25);
}

.header_bottom__item img {
    width: auto;
}

.header_bottom__item h5 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #2C2C2C;
}

.header_bottom__item h5 div {
    color: #BC9060;
    padding-left: 7px;
}

.header_bottom__item p {
    padding-top: 20px;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #656363;
}

.our_story {
    display: flex;
    background-color: white;
    padding-top: 300px;
    min-height: 900px;
    column-gap: 80px;
}

.our_story__box {
    height: 400px;
    width: 450px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.our_story__text > h2{
    padding-left: 60px;
    display: flex;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}

.our_story__text > h2 div {
    color: #BC9060;
    padding-left: 7px;
}

.our_story__text > p {
    padding-top: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #656363;
}

.our_story__bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.our_story__bottom_item > h3 {
    padding-top: 40px;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    line-height: 54px;
    color: #BC9060;
}

.our_story__bottom_item > p {
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.our_story_photos {
    max-width: 750px;
}

.our_story__photo_1 {
    position: absolute;
    z-index: 1;
    margin-left: 310px;
    margin-top: 30px;
}

.our_story__photo_2 {
    margin-left: 200px;
    position: absolute;
    z-index: 2;
}

.our_story__photo_3 {
    margin-top: 40px;
    position: absolute;
    z-index: 3;
}

.our_story__photo_4 {
    margin-top: 190px;
    margin-left: 330px;
    position: absolute;
    z-index: 4;
    box-shadow: 3px 0 80px 0 rgba(0, 0, 0, 0.25);
}

.ad {
    height: 350px;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    column-gap: 300px;
}

.ad-text {
    justify-content: center;
    margin-left: 165px;
    width: 605px;
}

.ad-text h3 {
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
}

.ad-text p {
    padding-top: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.ad_button {
    background-color: #FF7400;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.selection {
    min-height: 800px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection h2 {
    padding-bottom: 100px;
    display: flex;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}

.selection h2 div {
    padding-left: 7px;
    color: #BC9060;
}

.selection_main {
    display: flex;
    column-gap: 20px;
}

.selection__item {
    display: flex;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
}
.selection__box {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.selection__text {
    padding-left: 20px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selection__item_line {
    width: 170px;
    height: 0;
    border-bottom: 2px dashed black;
}