.wrapper {
    margin: 0 150px;
}

.navbar-dark, .navbar-toggler {
    background-color: #0F2438;
    border: none;
}

.nav-link,
.navbar-dark,
.navbar-nav,
.nav-link a,
.nav-link:hover,
.navbar-brand > button {
    color: white !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.navbar-brand > button:hover {
    text-decoration: underline white;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    column-gap: 7px;
}

.collapse {
    justify-content: space-between;
}

.navbar-brand > button,
.navbar-brand > p {
    margin: 0;
}

.header {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header_main {
    max-height: 120px;
}

.header_main_box {
    margin: 20px 0;
}

.header_main__item {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.logo_text {
    align-items: center;
}

.logo_text > h1 {
    padding-top: 10px;
    font-weight: bold;
    font-size: 24px;
    color: #0F2438;
}

.logo_text > p {
    font-weight: 500;
    font-size: 12px;
    line-height: 1px;
    color: #0F2438;
}

.working_hours_text {
    padding-top: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 8px;
    text-align: right;
    color: #0F2438;
}

.location > p {
    padding-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.whatsapp {
    background-color: #E1EFD0;
    border-radius: 2px;
    height: 30px;
    width: 200px;
}

.whatsapp  > p {
    padding-top: 17px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}

.book_a_call {
    flex-direction: column;
    text-align: right;
}

.book_a_call > p {
    font-weight: 500;
    font-size: 20px;
    color: #0F2438;
    margin-bottom: -10px;
}

.modal-content {
    border-radius: 10px;
}

.book_a_call > button {
    font-size: 12px;
    text-decoration-line: underline;
    color: #0F2438;
    padding-right: 0;
}

.button_call {
    margin: 0 15px 20px;
    background-color: #005BB9;
    border-radius: 6px;
}

.modal-title {
    font-size: 18px;
    line-height: 21px;
    color: #0F2438;
}

.col-form-label,
.form-label {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #AEB5D5;
}

.header_bottom {
    align-items: center;
    justify-content: space-between;
}

.header_bottom_left {
    column-gap: 30px;
}

.header_bottom_left__form {
    width: 550px;
    }

.header_bottom_left__form > input {
    background: #F4F5FA;
    border: transparent;
}

.header_bottom_left__button  {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
}

.btn-primary {
    background: #005BB9;
    border-radius: 6px;
    align-items: center;
    border: transparent;
}

.header_bottom_left__button_2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 2px;
    color: #FFFFFF;
    padding: 20px;
    background: #005BB9;
    height: 50px;
    border-radius: 0 6px 6px 0;
}

.header_bottom_left__button > p {
    margin: 0 10px;
}

.header_bottom_right {
    column-gap: 25px;
}

.header_bottom_right__item {
    align-items: center;
    column-gap: 10px;
}

.header_bottom_right__item > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #0F2438;
    margin-top: 13px;
    padding-right: 25px;
    border-right: 1px solid #E1E5F8;
}

.header_bottom_right__item_text {
    padding-top: 15px;
    font-weight: normal;
    font-size: 12px;
    line-height: 2px;
}

.main_box {
    max-height: 400px;
    margin: 30px 0;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.ad {
    width: 75%;
}

.ad_card > img {
    height: 390px;
}

.ad_right {
    margin: 60px 15px 45px 100px;
}

.offcanvas {
    height: 15vh;
}

.ad_button {
    margin-top: 15px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.ad_button > img {
    padding-right: 10px;
    padding-bottom: 2px;
}

.ad_card {
    border: transparent;
}

.ad_main {
    display: flex;
    align-items: center;
}

.ad_right > h5 {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #0A1A2C;
}

.ad_right > p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #717171;
    padding-top: 10px;
    padding-bottom: 25px;
}

.ad_price > h6 {
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: #005BB9;
}

.ad_price > p {
    padding-left: 5px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.ad_indicators {
    column-gap: 10px;
}

.ad_indicators > button {
    border: transparent;
    background-color: transparent;
}

.discount {
    width: 25%;
    margin-top: 10px;
}

.discount_box {
    padding-left: 12px;
    border: transparent;
    border-radius: 10px;
    background: #F4F5FA;
    margin-bottom: 13px;
}

.discount_card {
    padding: 10px 0;
}

.discount_box > h4 {
    font-weight: 500;
    font-size: 14px;
    color: #0F2438;
    padding-top: 20px;
}
.discount_card_left {
    padding: 0 7px;
}

.discount_card_left_body {
    padding: 0;
}

.discount_card_left_body > h5 {
    padding-top: 0;
    font-weight: 500;
    line-height: 23px;
    font-size: 16px;
    color: #0A1A2C;
}

.discount_card_left_body > p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}
.discount_price_box {
    margin-top: 0;
    display: flex;
    column-gap: 17px;
}

.discount_price {
    column-gap: 3px;
    padding-top: 15px;
}

.discount_price > h6 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.discount_price > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.cart_button {
    padding: 10px 18px;
    margin-bottom: 10px;
}

.main_box__bottom {
    column-gap: 30px;
    justify-content: space-between;
}

.main_box__bottom_item {
    display: flex;
    width: 33%;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}

.main_box__bottom_button {
    width: 0%;
}

.main_box__bottom_item_left {
    padding: 30px;
}

.main_box__bottom_item_left > h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}

.main_box__bottom_item_left > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}

.main_box__bottom_item > img {
    height: 105%;
    margin-right: -8px;
}

.catalogue_top {
    margin: 60px 0 30px;
    column-gap: 20px;
}

.catalogue_top > .btn-outline-primary {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    padding: 10px 25px;
}


.catalogue_top > .btn-primary {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 10px 25px;
}

.catalogue_header {
    display: flex;
    align-items: start;
}

.catalogue_price_tag {
    display: flex;
}

.catalogue_header > h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
    padding-left: 3px;
}

.catalogue_header > p {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    padding-left: 7px;
}

.catalogue_header > img {
    padding-top: 1px;
}

.catalogue_body {
    padding: 0;
}

.catalogue_card {
    position: relative;
    border: none;
}

.catalogue_card > span {
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border-radius: 2px;
}

.catalogue_body > h5 {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #0A1A2C;
}

.catalogue_price_tag {
    margin-top: 40px;
    margin-bottom: -10px;
}

.catalogue_price_tag > p {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.catalogue_price_tag > a {
    font-size: 13px;
    line-height: 15px;
    padding-left: 3px;
}

.catalogue_button {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.catalogue_button > button {
    margin: 0;
}

.catalogue_price {
    display: flex;
    margin-top: 40px;
    column-gap: 7px;
}

.catalogue_price > h6 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.catalogue_price > p {
    padding-top: 3px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.catalogue_bottom {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalogue_bottom > button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: #005BB9;
    border: 2px solid #005BB9;
    padding: 15px 40px;
}

.news {
    margin: 80px 0 120px;
}

.divider {
    height: 9px;
    background: #F5F5F5;
}

.news_header {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 15px;
}

.preview {
    padding-left: 0;
}

.preview > h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #0C1A2A;
    border-radius: 4px;
    width: 105px;
    text-align: center;
}

.preview_card {
    padding-top: 15px;
    border: none;
}
.preview > a {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #005BB9;
}

.preview > p,
.preview_text{
    padding-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #242424;
}

.preview_text > p {
    margin: 1px;
}

.foot {
    min-height: 408px;
    background: #0C1A2A;
}

.foot_box {
    padding-top: 35px;
    justify-content: space-between;
}

.foot_col > h4 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.foot_col > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.payment {
    padding-top: 20px;
}

.foot__right_row {
    display: flex;
    justify-content: space-between}

.foot__right_col > h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.foot__right_col > p {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0;
}

.foot__right_line {
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.foot__right_line > p,
.foot__right_form > p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #858CAB;
    margin: 0;
}

.foot__right_line > button {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 0;
}

.email_form > input {
    background-color: transparent;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ADBDD1;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
}

.email_form {
    margin-top: 15px;
}

.socials {
    margin-top: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 40px;
}

.foot__bottom {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    padding: 20px 0;
}
