:root {
    --blue:#072034;
    --aqua:#42c9eb;
    --light:#ced8e1;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.icons {
    background-color: var(--aqua);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    column-gap: 10px;
    list-style: none;
}

.icon {
    width: 25px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--blue);
}

.header {
    background-color: var(--aqua);
    color: white;
}
.header__top {
    padding: 10px 0 20px;
    background-color: var(--light);
}

.header__top_grid {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.header__logo {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: var(--blue);
}

.nav__item {
    display: inline-block;
    margin-right: 15px;
}

.nav__item a {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s;
    color: var(--blue);
    font-weight: 900;
}

.nav__item a:hover {
    color: sandybrown;
}

.header__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    padding: 100px 0;
}

.header__text {
    width: 80%;
    line-height: 24px;
    text-align: center;
}

.header__main button {
    margin-top: 25px;
    background-color: var(--blue);
    width: 300px;
    color: white;
    border-radius: 20px;
    height: 50px;
    border:none
}

.products {
    padding: 100px;
    background-color: var(--light);
}

.products_grid {
    text-align: center;
    border: 1px solid var(--aqua);
    border-radius: 20px;
    padding: 20px;
}

.products_title {
    margin-bottom: 20px;
    align-items: center;
}

.products__list {
    display: flex;
    column-gap: 30px;
}

.products__item {
    flex-grow: 1;
    border-radius: 10px;
}

.products__item p {
    text-align: center;
    margin-top: 15px;
}

.products__item_imag {
    height: 200px;
    background-color: var(--blue);
    border-radius: 10px;
}

.about {
    background-color: var(--blue);
    padding: 50px 0;
}

.about__grid {
    display: flex;
    justify-content: space-between;
}

.about_card {
    width: 30%;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    color: white;
    transition: all .75s;
}

.about_card:hover {
    border-color: var(--aqua)
}

.about_name {
    font-size: 20px;
    font-weight: 700;
}

.about_photo > div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--light);
}


.catalog {
    background-color: var(--light);
}

.catalog_grid {
    padding: 20px;
}

.catalog_title {
    text-align: center;
    color: var(--blue);
    font-weight: 900;
    margin: 15px;
}

.catalog_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.catalog_item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid var(--aqua);
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--blue);
}

.catalog_imag > div {
    margin: 15px;
    min-width: 300px;
    width: auto;
    min-height: 150px;
    border-radius: 10px;
    background-color: var(--blue);
}

.catalog_price {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.catalog__item_name {
    margin: 0 15px;
    font-weight: 600;
}

.catalog_item >p {
    margin: 15px;
}

.catalog__bottom {
    border-top: 1px solid var(--aqua);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog__bottom_right {
    width: 40px;
    height: 10px;
    background-color: var(--blue);
    border-radius: 3px;
}

.catalog__left_icons {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    list-style: none;
}
.catalog__icon {
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: var(--blue);
}

.review {
    background-color: var(--light);
    height:400px
}

.review_box {
    padding-top: 30px;
    display: flex;
    align-items: center;

}

.review_box_dark {
    padding: 50px;
    max-width: 500px;
    max-height: 300px;
    background-color: var(--blue);
    color: var(--aqua);
}

.review_box_aqua {
    padding: 50px;
    max-width: 500px;
    max-height: 300px;
    background-color: var(--aqua);
    color: var(--blue);
}
.review_name {
    font-weight: 900;
    padding: 20px 0;
}

.review__more_aqua {
    margin-top: 25px;
    background-color: var(--blue);
    width: 200px;
    border-radius: 20px;
    height: 40px;
    border:none
}

.review__more_dark {
    margin-top: 25px;
    background-color: var(--aqua);
    width: 200px;
    border-radius: 20px;
    height: 40px;
    border:none
}

.bottom {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.bottom_item {
    padding: 25px;
    width: 300px;
    border-bottom: 2px solid var(--aqua)
}

.bottom_icons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    list-style: none;

}
.bottom__icon {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: var(--light);
}





















